
<div class="container">
  <div class="container-fluname">
<!-- <form class="row g-3" #userForm="ngForm"  (ngSubmit)="onSubmit(userForm.value)"> -->
  <form [formGroup]="loginForm" class="row g-3" >
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control" >
    <span *ngIf="isValid?.invalid&&isValid?.touched" style="color:red" >Email field is required</span>
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input ngModel type="password" class="form-control" formControlName="password">
  </div>
  <div class="col-12">
    <button type="submit" (click)="onSubmit()" class="btn btn-primary">Sign in</button>
  </div>
</form>
</div></div>
